<%- include('./partials/head') %>

<div class="titel">
    <h2>Overzicht</h2>
</div>

<main>
    
    <div class="overzichtspagina"
       <% methods.forEach(method=> { %>
        <div class="methods"> 
            <h2><%= method.title %></h2>
             <img class="method-img" src="<%= method.template?.url %>" alt="afbeelding van de method">
             
           
             
        </div> 
       <% }) %>
    </div>
</main>
<%- include('./partials/foot') %>